html {
  box-sizing: border-box;
  display: inline-block;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: .3em;
}

h1 {
  color: #fff;
  font-family: Bevan, sans-serif;
}

.header {
  margin: 0;
  border-style: solid;
  border-color: #595652;
  padding: 1em;
  background-color: #79756f;
  outline-offset: 2px;
  list-style-type: none;
  text-align: center;
}

.introduction a {
  display: inline-block;
  list-style: none;
  margin: 0em;
  max-width: 20em;
  padding: .6em .5em .75em;
  border-radius: 10px;
  background-color: #713837;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.introduction a:hover {
  background-color: #f33;
  color: #fff;
}
