html {
  box-sizing: border-box;
  padding: 1em;
  outline-offset: 2px;
  background-color: #79756f;
}

.introduction {
  display: inline-block;
  font-family: 'Bevan', sans-serif;
  font-size: 1.5rem;
  background-color: #713837;
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
